In [2]:
import pandas as pd

In [4]:
df=pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [12]:
print(df.iloc[:,1])

0    4
1    5
2    6
Name: B, dtype: int64

In [5]:
import pandas as pd

In [6]:
data={
    'Region':['N','S','E','W','N','S','E','W'],
    'Product':['A','A','B','B','A','B','A','B'],
    'Sales':[250,142,369,65,254,854,652,100],
    'Transactions':[2,4,3,9,7,8,1,2]
}

In [7]:
data

{'Region': ['N', 'S', 'E', 'W', 'N', 'S', 'E', 'W'],
 'Product': ['A', 'A', 'B', 'B', 'A', 'B', 'A', 'B'],
 'Sales': [250, 142, 369, 65, 254, 854, 652, 100],
 'Transactions': [2, 4, 3, 9, 7, 8, 1, 2]}

In [8]:
df=pd.DataFrame(data)

In [9]:
df

  Region Product  Sales  Transactions
0      N       A    250             2
1      S       A    142             4
2      E       B    369             3
3      W       B     65             9
4      N       A    254             7
5      S       B    854             8
6      E       A    652             1
7      W       B    100             2

In [19]:
a=df.groupby('Region')['Sales'].agg(['sum','count'])
a

         sum  count
Region
E       1021      2
N        504      2
S        996      2
W        165      2

In [22]:
df.groupby('Region')['Transactions'].count()

Region
E    2
N    2
S    2
W    2
Name: Transactions, dtype: int64

In [23]:
df.groupby('Region')['Sales'].mean()

Region
E    510.5
N    252.0
S    498.0
W     82.5
Name: Sales, dtype: float64

In [24]:
df.groupby('Region')['Transactions'].sum()

Region
E     4
N     9
S    12
W    11
Name: Transactions, dtype: int64

In [26]:
import tensorflow as tf
import keras

In [27]:
data={
    'Age':[25,14,25,36],
    'Income':[50000,20000,14444,32560],
    'Credit_SCore':[850,450,300,754],
    'Loan_amount':[20000,10000,15000,18523],
    'Existing_debt':[5000,1200,2002,4200],
    'Employment_status':[1,1,1,1],
    'loana':[1,1,0,1]
}

In [30]:
df=pd.DataFrame(data)
df
X=df.drop('loana',axis=1)
y=df['loana']
X

   Age  Income  Credit_SCore  Loan_amount  Existing_debt  Employment_status
0   25   50000           850        20000           5000                  1
1   14   20000           450        10000           1200                  1
2   25   14444           300        15000           2002                  1
3   36   32560           754        18523           4200                  1

In [31]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=2)

In [33]:
from keras.models import Sequential
from keras.layers import Dense

In [34]:
ann=Sequential()
ann.add(Dense(input_dim=6,units=10,kernel_initializer='uniform',activation='relu'))
ann.add(Dense(units=1,kernel_initializer='uniform',activation='relu'))
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

C:\Users\user\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [35]:
ann.fit(X_train,y_train,epochs=50)

Epoch 1/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 1s/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 2/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 55ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 3/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 59ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 4/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 5/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 51ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 6/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 47ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 7/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 53ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 8/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 64ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 9/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 51ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 10/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 66ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 11/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 67ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 12/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 50ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 13/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 67ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 14/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 76ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 15/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 57ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 16/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 73ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 17/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 61ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 18/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 74ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 19/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 67ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 20/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 64ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 21/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 62ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 22/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 60ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 23/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 54ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 24/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 50ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 25/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 26/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 67ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 27/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 67ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 28/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 69ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 29/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 69ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 30/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 61ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 31/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 71ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 32/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 59ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 33/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 59ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 34/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 58ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 35/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 50ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 36/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 66ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 37/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 56ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 38/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 47ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 39/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 64ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 40/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 54ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 41/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 51ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 42/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 67ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 43/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 47ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 44/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 54ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 45/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 59ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 46/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 84ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 47/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 62ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 48/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 55ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 49/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 44ms/step - accuracy: 0.0000e+00 - loss: 16.1181
Epoch 50/50
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 48ms/step - accuracy: 0.0000e+00 - loss: 16.1181

In [42]:
r=[[21,45000,755,452,2356,1]]
r=pd.DataFrame(r)
ann.predict(r)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step

array([[0.]], dtype=float32)

In [45]:
type(X_train)
ypred_train=ann.predict(X_train)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 74ms/step

In [48]:
from sklearn.metrics import accuracy_score
accuracy_score(y_train,ypred_train)

0.0

In [3]:
df=pd.DataFrame({'A':[1,2,3],'B':[4,5,6],'C':[65,8,8]})
df

   A  B   C
0  1  4  65
1  2  5   8
2  3  6   8

In [17]:
# fd=pd.DataFrame({'Column1':['A','B','C'],'Column2':[(df['A'].sum())/len(df['A']),(df['B'].sum())/len(df['B']),(df['C'].sum())/len(df['C'])]})
fd=pd.DataFrame({'Column1':['A','B','C'],'Column2':[df['A'].mean(),df['B'].mean(),df['C'].mean()]})

fd

  Column1  Column2
0       A      2.0
1       B      5.0
2       C     27.0